﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ReportDashboardExcel.aspx.cs" Inherits="Reports_ReportDashboardExcel" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Dash board report by excel</title>
</head>
<body>
    <form id="frmDashboardExcel" runat="server">
    <div align="center">
        <asp:Button ID="btnDownload" runat="server" Text="Download" 
            onclick="btnDownload_Click" />
    </div>
    </form>
</body>
</html>
