﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Report_DailyDataEntryPerformance.aspx.cs" Inherits="Reports_Report_DailyDataEntryPerformance" %>
<%@ Register Assembly="ITOS.Utility.CustomControl" Namespace="ITOS.Utility.CustomControl" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link href="../Style/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="../Jquery/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="../Jquery/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <script src="../Jquery/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../Jquery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../Jquery/DatePicker/js/jquery-ui-1.8.10.offset.datepicker.min.js"></script>
    <link type="text/css" href="../Jquery/DatePicker/css/ui-lightness/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
    <script src="../Jquery/js_function.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        var jqCriteria = jQuery.noConflict();
        jqCriteria(document).ready(function() {
            jqCriteria("#txtTransactionDateFrom").datepicker({ changeMonth: true, changeYear: true, dateFormat: 'dd/mm/yy', isBuddhist: false });
            jqCriteria("#txtTransactionDateTo").datepicker({ changeMonth: true, changeYear: true, dateFormat: 'dd/mm/yy', isBuddhist: false });
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
            <div>
                <fieldset>
                <legend class="ntextblack">Daily Data Entry Performance Report</legend>
                    <table align="center">
                        <tr>
                            <td align="right" class="ntextblack">
                                Search:
                            </td>
                            <td align="left">
                                <asp:ListBox ID="lbStaff" runat="server" Rows="5" SelectionMode="Multiple">
                                </asp:ListBox>
                            </td>
                            <td>
                            </td>
                            <td align="right" class="ntextblack">
                                Outlet:
                            </td>
                            <td align="left">
                                <asp:ListBox ID="lbOutlet" runat="server" Rows="5" SelectionMode="Multiple">
                                </asp:ListBox>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="ntextblack">
                                Period:<span class="ntextred">*</span>
                            </td>
                            <td align="left">
                                <asp:TextBox ID="txtTransactionDateFrom" runat="server"></asp:TextBox>
                            </td>
                            <td>
                            </td>
                            <td align="right" class="ntextblack">
                                To:<span class="ntextred">*</span>
                            </td>
                            <td align="left">
                                <asp:TextBox ID="txtTransactionDateTo" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="ntextblack">
                                Sort By:
                            </td>
                            <td align="left">
                                <asp:DropDownList ID="ddlSortBy" runat="server">
                                    <asp:ListItem Value="1" Selected="True">PG Name</asp:ListItem>
                                    <asp:ListItem Value="2">Outlet</asp:ListItem>
                                    <asp:ListItem Value="3">Date</asp:ListItem>
                                    <asp:ListItem Value="4">Daily Traffic</asp:ListItem>
                                    <asp:ListItem Value="5">Daily Engagement</asp:ListItem>
                                    <asp:ListItem Value="6">Daily New</asp:ListItem>
                                    <asp:ListItem Value="7">Daily Repeat</asp:ListItem>
                                    <asp:ListItem Value="8">(Engagement/Traffic)%</asp:ListItem>
                                    <asp:ListItem Value="9">(New/Engagement)%</asp:ListItem>
                                </asp:DropDownList>
                            </td>
                            <td>
                            </td>
                            <td align="right" class="ntextblack">
                                Order By:
                            </td>
                            <td align="left">
                                <asp:DropDownList ID="ddlOrderBy" runat="server">
                                    <asp:ListItem Value="0" Selected="True">Ascending</asp:ListItem>
                                    <asp:ListItem Value="1">Descending</asp:ListItem>
                                </asp:DropDownList>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5"><label class="ntextred" id="lbErrorMessage" runat="server" 
                                    visible="false">Error message display here if any</label></td>
                        </tr>              
                    </table>
                    <table align="center" style="width:900px">        
                        <tr>
                            <td align="center">
                            <asp:Button ID="btnViewReport" CssClass="ntextblack" runat="server" 
                                Text="ViewReport" onclick="btnViewReport_Click"/>&nbsp;
                            <asp:Button ID="btnExport" CssClass="ntextblack" runat="server" 
                                Text="ExportReport" onclick="btnExport_Click"/>&nbsp;
                            <asp:Button ID="btnCancel" CssClass="ntextblack" runat="server" Text="Cancel" 
                                onclick="btnCancel_Click" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>      
        <iframe id="iframeReport" frameborder="0" name="iframeReport" scrolling="auto" 
            style="width: 100%; height: 1000px"></iframe>
    </form>
</body>
</html>
