﻿<%@ page language="C#" autoeventwireup="true" inherits="_Default, App_Web_default.aspx.cdcab7d2" %>
<%@ Register TagPrefix="asp" TagName="BrowseExcelFile" Src="~/UserControl/BrowseExcelFile.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:BrowseExcelFile id="browseExcelFile" runat="server"></asp:BrowseExcelFile>
    </div>
    </form>
</body>
</html>
