﻿body 
{
   
}

.ntextblack
{
    font:bold 12px Century Gothic;
    color:Black;
	margin-left: 0px;
}
.ntextblackOverley
{
    font:bold 12px Century Gothic;
    color:Black;
	margin-left: 0px;
	border: black 1px solid;
    padding: 5px;
    z-index: 100;
    width: 100px;
    position: absolute;
    background-color: #fff;
    -moz-opacity: 0.75;
    opacity: 0.75;
    filter: alpha(opacity=75);
    font-family: Century Gothic;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.ntextred
{
    font:bold 12px Century Gothic;
    color:Red
}

.ntextblackdata
{
    font: 12px Century Gothic;
    color:Black
}

.ntextwhite
{
    font:bold 12px Century Gothic;
    color:White
}

.ntextgreen
{
    font:bold 12px Century Gothic;
    color:Green
}

.ntextwhiteLarge
{
    font:bold 16px Century Gothic;
    color:White
}

.ntextgreenLarge
{
    font:bold 16px Century Gothic;
    color:Green
}

.gridrowstyle
{
    background-color:White;  font: 13px Century Gothic; color: Black;
}

.gridalternativerowstyle
{
    background-color:Silver;  font: 13px Century Gothic; color: Black
}

.gridheaderrowstyle
{
    background-color:#A7C95E;  font:bold 14px Century Gothic; color:  White;
    background-image:url('../Image/headersilver.gif'); height:28px
}

.gridheaderrowstyle_msg
{
    background-color:#A7C95E;  font:bold 11px Century Gothic; color:  Green;
    background-image:url('../Image/headersilver.gif'); height:20px
}
                   
.displayNone
{
    display:none
}               


.accordionHeader     
{
    font-family:Arial;
    font-size:large;
    color:Green   
}               
                
.accordionHeaderSelected   
{
    font-family:Arial;
    font-size:large;
    color:Yellow;  
    background-color:Yellow;
    background-image:url('');
}      

.modalBackground
{
    background-color: Gray;

}

.modalPopup
{
    background-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border-color: #008080;
    padding: 1px;
    width: 760px;
    height: 380px;
}

.TopLeft
{
    background: url("../image/border1.png") no-repeat scroll 0 0 transparent;
    height: 25px;
    width: 25px;
}

.TopCenter
{
    background: url("../image/border1.png") repeat-x scroll 0 -50px transparent;
    height: 25px;
}

.TopRight
{
    background: url("../image/border1.png") no-repeat scroll -25px 0 transparent;
    height: 25px;
    width: 25px;
}

.MiddleLeft
{
    background: url("../image/border2.png") repeat-y scroll 0 0 transparent;
    width: 25px;
}

.MiddleRight
{
    background: url("../image/border2.png") repeat-y scroll -25px 0 transparent;
    width: 25px;
}

.BottomCenter
{
    background: url("../image/border1.png") repeat-x scroll 0 -75px transparent;
    height: 25px;
}

.BottomLeft
{
    background: url("../image/border1.png") no-repeat scroll 0 -25px transparent;
    height: 25px;
    width: 25px;
}

.BottomRight
{
    background: url("../image/border1.png") no-repeat scroll -25px -25px transparent;
    height: 25px;
    width: 25px;
}                                       