﻿<%@ control language="C#" autoeventwireup="true" inherits="UserControl_BrowseExcelFile, App_Web_browseexcelfile.ascx.6be62623" %>
<asp:FileUpload ID="fileBrowseExcel" runat="server" />
<p>
    <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Button" />
</p>
