﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BrowseExcelFile.ascx.cs" Inherits="UserControl_BrowseExcelFile" %>
<asp:FileUpload ID="fileBrowseExcel" runat="server" />
<p>
    <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Button" />
</p>
